*{
    margin: 0px;
    padding: 0px;
}

.navbar {
    margin: 0%;
    width: 100%;
}

h1{
    margin: 0px;
    margin-bottom: 2vw;
    text-align: center;
}

.logocontainer {
    display: flex;
    justify-content: center;
}

h2{
    margin: 10px;
    text-align: center;
}

p {
    margin: 10px;
    
}

section {
display: flex;
flex-wrap: wrap;
align-content: center;
justify-content: center;

}

.imgcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imgcontainer img{
    margin: 5px;
    padding: 5px;
}