*{
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
}

body{
    background: rgb(89,157,217);
    background: linear-gradient(0deg, rgba(89,157,217,1) 0%, rgba(185,214,172,1) 47%, rgba(242,179,191,1) 81%);
}

/* Menu Navegación */

.navbar {
    margin: 0%;
    width: 100%;
    background-color: #599DD9;
}

.navbar-logo{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 20px ;
}

.nav-link{
    color: #1B1B1B !important;
}

/* Carousel */

.carousel{
    width: 90%;
    margin: 50px auto;
}

h1{
    margin: 0px;
    margin-bottom: 2vw;
    text-align: center;
}

/* Mensaje Bienvenida */

.container-mensj-bienvenida{
    width: 70%;
    margin: 50px auto;
    background-color: #F7F7F7;
}

/* Imagenes de las secciones */

.section-img{
    width: 300px;
    height: 300px;
}

h2{
    margin: 10px;
    text-align: center;
}

p {
    margin: 10px;
    
}

.section{
display: flex;
flex-wrap: wrap;
align-content: center;
justify-content: center;

}

.imgcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imgcontainer img{
    margin: 5px;
    padding: 5px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

/* Footer */

footer{
    margin-top: 100px;
}